.vue-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.vue-popup > .vue-popup-scroll {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.vue-popup > .vue-popup-mask {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.vue-popup > .vue-popup-scroll > .vue-popup-panel {
    background: #fff;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    width: 90%;

    max-width: 400px;;
    position: relative;

}

.vue-popup > .vue-popup-scroll > .vue-popup-panel > .content {
    padding: 10px;

}

.vue-popup > .vue-popup-scroll > .vue-popup-panel > .vue-popup-title {
    box-sizing: content-box;
    padding: 10px 10px 6px 10px;
    font-weight: 600;
}

.vue-popup > .vue-popup-scroll > .vue-popup-panel  > .close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    outline: none
}

.vue-popup > .vue-popup-scroll > .vue-popup-panel > .vue-popup-footer {
    height: 52px;
    padding-right: 10px;
}

.vue-popup > .vue-popup-scroll > .vue-popup-panel > .vue-popup-footer > .vue-popup-btn {
    display: block;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    float: right;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    outline: none
}
